<div class="car-details-container">
  @if (currentCar()) {
    <aside class="car-sidebar">
      <div class="car-image">
        <img [src]="currentCar()?.imageUrl || '/images/car-placeholder.png'" alt="Car image" />
      </div>

      <div class="car-info-card">
        <h3>{{ currentCar()?.brand | titlecase }} {{ currentCar()?.model | titlecase }}</h3>

        <div class="info-grid">
          <div class="info-row">
            <span>Гориво:</span> <strong>{{ currentCar()?.fuelType }}</strong>
          </div>
          <div class="info-row">
            <span>Двигател:</span> <strong>{{ currentCar()?.engineType }}</strong>
          </div>
          <div class="info-row">
            <span>Произведена:</span> <strong>{{ currentCar()?.year }} г.</strong>
          </div>
          <div class="info-row">
            <span>Начален пробег:</span>
            <strong>{{ currentCar()?.initialMileage | number }} км</strong>
          </div>
        </div>
      </div>
      @if (isOwner()) {
        <div class="car-actions">
          <a [routerLink]="['/cars', currentCar()?._id, 'edit']" class="btn-edit"><i class="fas fa-pen"></i></a>
          <a (click)="onDelete(currentCar()!._id)" class="btn-delete" [class.disabled]="isLoading()"
            ><i class="fas fa-trash"></i></a
          >
        </div>
      }
    </aside>

    <main class="car-main-content">
      @if (isOwner()) {
        <div class="tabs-container">
          <div class="tabs">
            <button (click)="setTab('dashboard')" [class.active]="activeTab() === 'dashboard'">
              Табло
            </button>
            <button (click)="setTab('fuel')" [class.active]="activeTab() === 'fuel'">Гориво</button>
            <button (click)="setTab('service')" [class.active]="activeTab() === 'service'">
              Сервиз
            </button>
            <button (click)="setTab('documents')" [class.active]="activeTab() === 'documents'">
              Документи
            </button>
          </div>
        </div>

        <div class="tab-content">
          @if (activeTab() === 'dashboard') {
            <app-car-dashboard [car]="currentCar()!" />
          }
          @if (activeTab() === 'fuel') {
            <app-car-fuel [car]="currentCar()!" />
          }
          @if (activeTab() === 'service') {
            <app-car-service [car]="currentCar()!" />
          }
          @if (activeTab() === 'documents') {
            <app-car-documents [car]="currentCar()!" />
          }
        </div>
      } @else {
        <div class="not-owner-message">
          <p>Трябва да сте собственик, за да виждате таблото и записите.</p>
        </div>
      }
    </main>
  } @else {
    <div class="loader">Loading car details...</div>
  }
</div>
