<header>
  <nav>
    <div class="logo" routerLink="/home" style="cursor: pointer">Auto<span>Diary</span></div>

    <div class="nav-links">
      @if (isLoggedIn()) {
        <div class="dropdown" (mouseleave)="closeDropdown()">
          <span class="nav-link nav-btn" (click)="toggleDropdown()" style="cursor: pointer"
            >моите коли ▼</span
          >
          @if (isDropdownOpen()) {
            <div class="dropdown-menu">
              @for (car of userCars(); track car._id) {
                <a [routerLink]="['/cars', car._id]" class="dropdown-item" (click)="closeDropdown()"
                  >{{ car.brand }} {{ car.model }}
                </a>
              }
              <div class="dropdown-divider"></div>

              <a routerLink="/cars/create" class="dropdown-item add-car" (click)="closeDropdown()">
                <span>+</span> Добави кола
              </a>
            </div>
          }
        </div>

        <a class="nav-link nav-btn" routerLink="/user" routerLinkActive="active"
          >{{ username() }}'s профил</a
        >
        <!-- alert Bell -->
        <div class="nav-icons" >
          <div class="dropdown" >
            <div class="bell-wrapper">
              <span class="notification-bell" (click)="alertToggleDropdown()">🔔</span>
              @if (alerts().length >= 0) {
                <span class="notification-count">{{ alerts().length }}</span>
              }
              @if(isAlertsOpen()){
                <div class="dropdown-menu alerts-dropdown">
                  @for (alert of alerts(); track $index) {
                    <div class="dropdown-alert-item">{{alert}}</div>
                  }
                </div>
              }
            </div>

          </div>
        </div>

        <button class="nav-btn" (click)="logout()">изход</button>
      } @else {
        <a class="nav-link nav-btn" routerLink="/cars" routerLinkActive="active">автомобили</a>
        <a class="nav-link nav-btn" routerLink="/login" routerLinkActive="active">влез</a>
      }
    </div>
  </nav>
</header>
